@charset "UTF-8";

body {
	background-color: #A997C6;
	background-image: url("../png/backGround.png");
	min-height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}

/* TOP へ戻るボタン */
.reverse-img {
	width: 12vw;
	max-width: 180px;
	min-width: 60px;
	height: auto;
}

.reverse {
	position: fixed;
	top: -20px;
	left: -20px;
	margin: 20px;
}

.reverse-img:hover {
	opacity: 0.8;
}

.page-title {
	font-size: 48px;
	margin: 40px 0 20px;
	text-align: center;
	color: #222;
}

.empty {
	text-align: center;
	font-size: 20px;
	color: #222;
}

.container {
	margin: 40px auto;
	background-color: #000000;
	padding: 30px 60px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	width: 80%;
	max-width: 900px;
	min-width: 600px;
	max-height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 10px;
}

.music-area {
	position: relative;
	background-color: #ffffff;
	padding: 15px 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	width: 900px;
	max-width: 1200px;
	min-width: 600px;
	text-decoration: none;
	z-index: 1;
	margin-bottom: 15px;
	transition: background-color 0.3s ease, color 0.3s ease;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	justify-content: center;
	border-radius: 8px;
}

.music-area:hover {
	background-color: rgb(128, 128, 128);
	color: black;
}

.music-area:active {
	background-color: rgba(255, 0, 255, 0.3);
	box-shadow: 0 4px 8px rgba(255, 0, 255, 0.4);
}

.music-area .title {
	font-size: 18px;
	font-weight: bold;
	color: #5A2D82;
}

.music-area .artist,
.music-area .time,
.music-area .like {
	font-size: 14px;
	color: #444;
}

.music-area.btn-flat:before {
	opacity: 0.5;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: rgb(255, 0, 255);
	transform-origin: left;
	transition: width 0.5s ease-in-out;
	z-index: 0;
	border-radius: 8px;
}

.music-area.btn-flat:hover:before {
	width: 100%;
}


